body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A3B97B;
}

.intro-frame {
  opacity: 0;
  z-index: -100;
  transition: 0.5s ease-out;
}

.intro-frame__visible {
  opacity: 1;
  z-index: 1;
}

.title--visible {
  font-size: 1.5em !important;
}

.title--hidden {
  font-size: 0;
}

@media (min-width:768px) {
  .title--visible {
    font-size: 2.5em !important;
  }
}

@media (min-width:1024px) {
  .title--visible {
    font-size: 48px !important;
  }
}
