.results-data-section {
  position: relative;
  opacity: 0;
  z-index: -100;
  transition: 0.5s ease-in-out;
}

.results-data-section__visible {
  opacity: 1;
  z-index: 1;
  padding: 1rem;
}

.weather-icon {
  font-size: 75px;
  color:#2d2f31;
  position: relative;
  width: 125px;
  height: 100px;
  display: inline-block;
  z-index: 1;
}

.icon-title {
  color:#2d2f31;
  font-weight: bold;
  font-size: 16px;
}

.city-weather-data {
  color:#2d2f31;
  text-align: left;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8rem;
  padding-left: 0.5rem;
  margin-top: 5vh;
}

.city-weather-data__category {
  background-color: #2d2f31;
  color: #e3e3e3;
}

.data-reference {
  font-size: 8px;
}

@media (min-width:600px) {
  .weather-icon {
    font-size: 110px;
  }
  .icon-title {
    font-size: 20px;
    margin-top: 2rem;
  }
  .city-weather-data {
    font-size: 0.9rem;
    margin-top: 0;
  }
  .data-reference {
    font-size: 12px;
  }
}

@media (min-width:1200px) {
  .weather-icon {
    font-size: 136px;
    height: 175px;
  }
  .icon-title {
    font-size: 24px;
  }
  .city-weather-data {
    font-size: 1rem;
  }
}
