.city {
  position: relative;
  display: flex;
  flex-direction: 'column';
  padding-right: 0.5rem;
  z-index: 1;
  cursor: pointer;
  width: fit-content;
  border-radius: 15px;
}

.city:hover {
  font-weight: bold;
  background-color: rgba(168, 199, 250, .4);
}

.city-data-item--name {
  margin: 0.5em;
  white-space: nowrap;
}

.city-data-item {
  margin: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
}

.search-bar {
  opacity: 0;
  z-index: -100;
  transition: 0.5s ease-in-out;
  width: 100%;
}

.search-bar__visible {
  opacity: 1;
  z-index: 1;
}

.suggested-cities-section {
  opacity: 0;
  z-index: -100;
  transition: 0.5s ease-out;
}

.suggested-cities-section__visible {
  opacity: 1;
  z-index: 1;
}

.search-form__input {
  font-size: 24px;
  font-weight: bold;
  color:#2d2f31;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #2d2f31;
  border-radius: 2px;
  width: 80%;
}

.search-form__input:focus {
  outline: none;
}

.suggested-cities {
  width: 100%;
  font-size: 0.8rem;
}

@media (min-width:600px) {
  .search-form__input {
    width: 100%;
  }

  .suggested-cities {
    left: 80px;
  }

  .city-data-item {
    max-width: 150px;
  }
}

@media (min-width:1200px) {
  .suggested-cities {
    left: 165px;
    font-size: 1rem;
  }

  .city-data-item {
    max-width: 200px;
  }
}