body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2f31;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.city {
  position: relative;
  display: flex;
  z-index: 1;
}

.city-item {
  margin: 0.5em;
}

.city-weather-data {
  position: relative;
  z-index: 1;
}

.weather-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.intro-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 150px;
  padding: 3em 0;
}

.title-anime {
  transition: 1.5s ease-out;
}
.title-anime__animated {
  transform: translateY(-390px);
}