body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2f31;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.city_output {
  position: absolute;
  top: 20px;
  left: 165px;
  overflow: hidden;
}

.city {
  position: relative;
  display: flex;
  flex-direction: 'column';
  padding-right: 0.5rem;
  z-index: 1;
  cursor: pointer;
  width: fit-content;
  border-radius: 15px;
}

.city:hover {
  font-weight: bold;
  background-color: rgba(168, 199, 250, .4);
}

.city-item {
  margin: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.city-weather-data {
  position: relative;
  z-index: 1;
}

.weather-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.intro-card {
  transition: 0.4s ease-out;
}

.intro-card__animated--fade-out {
  opacity: 0;
}

.intro-card__animated--move-out {
  transform: translateY(-410px);
}

.search-card {
  opacity: 0;
  transition: 0.9s ease-in-out;
}

.search-card__animated--in {
  opacity: 1;
  transform: translateY(-410px);
}

.search-card__animated--fade-out {
  opacity: 0;
}

.search-card__animated--move-out {
  transform: translateY(-820px);
}

.suggested-cities-card {
  opacity: 1;
  transition: 0.5s ease-out;
}

.suggested-cities-card__animated--fade-out {
  opacity: 0;
}

.suggested-cities-card__animated--move-out {
  transform: translateY(-410px);
}

.calendar-card {
  opacity: 0;
  transition: 0.7s ease-in-out;
}

.calendar-card__animated--in {
  opacity: 1;
  transform: translateY(-435px);
}

.calendar-card__animated--fade-out {
  opacity: 0;
}

.calendar-card__animated--move-out {
  transform: translateY(-870px);
}

.results-data-card {
  opacity: 0;
  transition: 1s ease-in-out;
  position: relative;
  bottom: -440px;
}

.results-data-card__animated--in {
  opacity: 1;
  transform: translateY(-450px);
}

.results-data-card__animated--fade-out {
  opacity: 0;
}

.results-data-card__animated--move-out {
  transform: translateY(-670px);
}

.search-form__input {
  font-size: 24px;
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  color:#2d2f31;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #2d2f31;
  border-radius: 2px;
}

.search-form__input:focus {
  outline: none;
}

.weather-icon {
  font-size: 136px;
  color:#2d2f31;
  position: relative;
  bottom: 65px;
  right: 40px;
}

.icon-title {
  color:#2d2f31;
  font-weight: bold;
  font-size: 24px;
}

.city-weather-data {
  color:#2d2f31;
  text-align: left;
  font-family: 'Source Code Pro', monospace;
}

.city-weather-data__category {
  background-color: #2d2f31;
  color: #e3e3e3;
}