body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2f31;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.city {
  position: relative;
  display: flex;
  z-index: 1;
}

.city-item {
  margin: 0.5em;
}

.city-weather-data {
  position: relative;
  z-index: 1;
}

.weather-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  z-index: 1;
}